@font-face {
  font-family: 'iconfont';  /* project id 2028054 */
  src: url('//at.alicdn.com/t/font_2028054_t2twmqfci3.eot');
  src: url('//at.alicdn.com/t/font_2028054_t2twmqfci3.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2028054_t2twmqfci3.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2028054_t2twmqfci3.woff') format('woff'),
  url('//at.alicdn.com/t/font_2028054_t2twmqfci3.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2028054_t2twmqfci3.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconxinxi:before {
  content: "\e638";
}

.iconchongzhi:before {
  content: "\e625";
}

.iconarrow:before {
  content: "\e68b";
}

.iconleft:before {
  content: "\e6aa";
}

.iconpiao:before {
  content: "\e63a";
}

.iconxingbie:before {
  content: "\e61b";
}

.iconxuexiao:before {
  content: "\e7d4";
}

.iconxingming:before {
  content: "\e653";
}

.iconsousuo:before {
  content: "\e640";
}

.icon234:before {
  content: "\e60d";
}

.iconlajixiang:before {
  content: "\e67d";
}

.iconuser-info:before {
  content: "\e601";
}

.icontuichufffpx:before {
  content: "\e603";
}

.iconfanhui:before {
  content: "\e604";
}

.iconforward-null:before {
  content: "\e605";
}

.iconclose:before {
  content: "\e602";
}

